{%- assign authors = include.authors -%}
{%- assign has_eq_contrib = false -%}
{%- assign has_corresponding = false -%}
{%- assign has_core_contributor = false -%}
{%- assign has_project_lead = false -%}

{%- for _key in authors -%}
    {%- assign key = _key | replace: "*", "" | replace: "†", "" | replace: "♮", "" | replace: "‡", "" | replace: "#", "" -%}
    {%- assign mark = "" -%}

    {%- if _key contains "*" -%}
        {%- assign mark = mark | append: "*" -%}
        {%- assign has_eq_contrib = true -%}
    {%- endif -%}
    {%- if _key contains "†" -%}
        {%- assign mark = mark | append: "†" -%}
        {%- assign has_core_contributor = true -%}
    {%- endif -%}
    {%- if _key contains "♮" -%}
        {%- assign mark = mark | append: "♮" -%}
        {%- assign has_project_lead = true -%}
    {%- endif -%}
    {%- if _key contains "‡" or _key contains "#" -%}
        {%- assign mark = mark | append: "‡" -%}
        {%- assign has_corresponding = true -%}
    {%- endif -%}
    {%- if mark != "" -%}
        {%- assign mark = mark | prepend: "<sup>" | append: "</sup>" -%}
    {%- endif -%}

    {%- assign info = site.data.authors[key] -%}

    {%- if info['name'] -%}
        {%- assign name = info['name'] -%}
    {%- else -%}
        {%- assign name = key -%}
    {%- endif -%}

    {%- if info['bold'] == true -%}
        {%- assign display_name = name | append: mark | prepend: "<strong>" | append: "</strong>" -%}
    {%- else -%}
        {%- assign display_name = name | append: mark -%}
    {%- endif -%}

    {%- if info['url'] -%}
        <a class="text-body" target="_blank" href="{{ info['url'] }}">{{ display_name }}</a>{%- if forloop.index < authors.size -%}, {% endif -%}
    {%- else -%}
        <span class="text-body">
            {{ display_name }}{%- if forloop.index < authors.size -%}, {% endif -%}
        </span>
    {%- endif -%}
{%- endfor -%}

{%- if has_eq_contrib or has_core_contributor or has_project_lead or has_corresponding -%}
 &nbsp;<mark>(
    {%- assign has_previous_note = false -%}
    {%- if has_eq_contrib -%}
        <sup>*</sup>equal contribution
        {%- assign has_previous_note = true -%}
    {%- endif -%}
    {%- if has_core_contributor -%}
        {%- if has_previous_note -%}, {% endif -%}
        <sup>†</sup>core contributor
        {%- assign has_previous_note = true -%}
    {%- endif -%}
    {%- if has_project_lead -%}
        {%- if has_previous_note -%}, {% endif -%}
        <sup>♮</sup>project lead
        {%- assign has_previous_note = true -%}
    {%- endif -%}
    {%- if has_corresponding -%}
        {%- if has_previous_note -%}, {% endif -%}
        <sup>‡</sup>corresponding author
    {%- endif -%}
)</mark>
{%- endif -%}
